write-kubeconfig-mode: '0644'
tls-san:
  - {{ k3s_master_ip }}
  - k8s-master.piinalpin.lab
disable:
  - traefik
  - servicelb
  - local-storage
token: {{ k3s_token }}
docker: false
cluster-init: true