[Unit]
Description=Kickoff Minikube Cluster
After=docker.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/minikube start --driver=docker --host-only-cidr={{ ip_gateway }} --apiserver-ips={{ ansible_ssh_host }}
RemainAfterExit=true
ExecStop=/usr/local/bin/minikube stop
StandardOutput=journal
User={{ ansible_user }}
Group={{ ansible_user }}

[Install]
WantedBy=multi-user.target